::-webkit-scrollbar{
  display: none;
}
.comment_area {
  height: 100%;
  width: 100%;

  .messages {
    padding: 10px;
    height: 90%;
    margin: 10vh 0 10vh;
    display: flex;
    flex-direction: column;
  }
}

ul,
li {
  text-align: left;
  list-style: none;
}

p {
  max-width: 40%;
  margin-bottom: 10px;
  line-height: 14px;
  padding: 8px 12px;
  border-radius: 25px;
  position: relative;
  text-align: center;
}

.message {
  display: flex;
  align-items: center;
}

.sent {
  // flex-direction: row-reverse;
}

.sent p {
  color: white;
  background: #1db954;
  align-self: flex-end;
  min-width: 100px;
}
.received p {
  background: #e5e5ea;
  color: black;
}

.image {
  width: 7%;
  height: 7%;
  border-radius: 50%;
  margin: 2px 6px;
}
