.player_container {
  width: 84%;
  display: flex;
  background-color: rgb(71, 71, 71);
  flex-direction: column;
  overflow: scroll;
  height: 100%;

  .top_colour {
    height: 90%;
    background-color: sandybrown;
    -webkit-mask-image: linear-gradient(to top, transparent 10%, black 90%);
    mask-image: linear-gradient(to top, transparent 10%, black 90%);
  }
  .top {
    z-index: 1;
    width: 100%;
    margin-top: -40%;
    height: 50%;
    display: flex;
    flex-direction: row;

    .song_image_area {
      margin-left: 2%;
      margin-right: 2%;
      height: 40%;
      width: 20%;
      .song_image {
        width: 100%;
        z-index: 1000;
      }
    }

    .song_info {
      margin-top: 7%;
      color: white;
      display: flex;
      flex-direction: column;
      width: max-content;
      .album_title {
        font-size: 90px;
        font-weight: 800;
      }
      .album_description {
        font-size: 15px;
      }
      .album_likes {
        margin-top: 2%;
      }
    }
  }
  .songs {
    background-color: rgb(71, 71, 71);
    height: 52%;
    .songs_top {
      padding-left: 5%;
      height: 15%;
      display: flex;

      .songs_icons {
        transform: scale(1.5);
        margin-top: 1%;
        margin-left: 1%;
        margin-right: 2%;
        color: white;
      }
    }
    .songs_list {
      padding: 5%;
      a {
        min-width: 200px;
        // min-width: 100%;
        display: flex;
        flex-wrap: wrap;
        text-decoration: none;
      }
      .song {
        .title{
          max-width: 200px;
        }
        display: flex;
        justify-content: space-between;
        color: white;
        font-size: 15px;
        padding: 2%;
        border-radius: 7px;
        cursor: pointer;
        a{
          // min-width: 100px;
        }
        text{
          color: white;
          text-align: center;
          width: 100%;
          // min-width: 100px;
        }
        &:hover {
          background-color: gray;
        }
      }
    }
  }
}
