.player {
  width: 100%;
  background-color: #181818;
  height: 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(170, 167, 167);
  .player_left {
    margin-left: 15px;
    display: flex;
    align-items: center;
    min-width: 250px;
    // justify-content: space-between;
    img {
      width: 50px;
      object-fit: contain;
    }
    .info {
      margin: 0px 10px;
      margin-right: 20px;
      .title {
        font-size: 15px;
        margin: 0px;
        color: white;
      }
      .artist {
        font-size: 15px;
        margin: 0px;
        // color: rgb(196, 196, 196);
      }
    }
  }
  .player_center {
    display: flex;
    min-width: 250px;
    justify-content: space-evenly;
    align-items: center;
    .playBtn {
      // font-size: 50px;
      color: white;
    }
  }
  .player_right {
    margin-right: 25px;
    min-width: 200px;
    display: flex;
    justify-content: space-evenly;
  }
}
