.sidebar {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
  width: 20%;
}

.mainWindow {
  width: 100%;
  // height: 100vh;
  .container {
    height: 91%;
    display: flex;
  }
}
